---
import BaseHead from '@/components/BaseHead.astro';
import SkipLink from '@/components/SkipLink.astro';
import ThemeProvider from '@/components/ThemeProvider.astro';
import Header from '@/components/layout/Header.astro';
import Footer from '@/components/layout/Footer.astro';
import { siteConfig } from '@/site.config';
import type { SiteMeta } from '@/types';

interface Props {
  meta: SiteMeta;
}

const {
  meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;
---

<html
  class="grid scroll-pt-20 overflow-x-hidden scroll-smooth font-sans text-xl text-textColor antialiased md:text-base"
  lang={siteConfig.lang}
>
  <head>
    <BaseHead
      articleDate={articleDate}
      description={description}
      ogImage={ogImage}
      title={title}
    />
  </head>
  <body
    class="min-w-4xl relative m-auto min-h-screen w-full max-w-6xl grow bg-bgColor"
  >
    <ThemeProvider />
    <SkipLink />

    <!-- Background 
			TODO: This approach is not optimal and requires improvements. 
  			- Too many absolutely positioned elements can affect performance. 
  		-->
    <div
      class="pointer-events-none fixed left-1/2 top-0 -ml-[50vw] min-h-screen w-screen blur-2xl"
    >
      <div
        class="absolute right-[25%] top-[-90%] h-full w-[75%] rounded-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent opacity-40 dark:opacity-5"
      >
      </div>
      <div
        class="absolute left-[25%] top-[-90%] h-full w-[75%] rounded-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent opacity-40 dark:opacity-5"
      >
      </div>
      <div
        class="absolute right-[25%] top-[-85%] h-full w-[55%] rounded-full bg-gradient-to-b from-purple-300 via-blue-300 to-transparent opacity-40 dark:opacity-5"
      >
      </div>
      <div
        class="absolute left-[25%] top-[-85%] h-full w-[55%] rounded-full bg-gradient-to-b from-indigo-300 via-orange-300 to-transparent opacity-40 dark:opacity-5"
      >
      </div>
      <div
        class="absolute left-[-25%] top-[-75%] h-full w-[65%] rounded-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent opacity-30 dark:opacity-5"
      >
      </div>
      <div
        class="absolute right-[-25%] top-[-75%] h-full w-[65%] rounded-full bg-gradient-to-b from-purple-300 via-blue-300 to-transparent opacity-30 dark:opacity-5"
      >
      </div>
      <div
        class="absolute left-[-30%] top-[-85%] h-full w-[85%] rounded-full bg-gradient-to-b from-indigo-300 via-orange-300 to-transparent opacity-60 dark:opacity-5"
      >
      </div>
      <div
        class="absolute right-[-30%] top-[-85%] h-full w-[85%] rounded-full bg-gradient-to-b from-orange-300 via-indigo-300 to-transparent opacity-60 dark:opacity-5"
      >
      </div>
    </div>

    <div class="relative flex min-h-screen w-full">
      <!-- Sidebar for Docs Series -->
      <slot name="sidebar" />
      <!-- Main container for the page content -->
      <div id="container" class="min-w-3xl relative m-auto max-w-4xl grow">
        <div
          class="m-auto grid min-h-screen px-4 md:grid-rows-[auto_auto_1fr] md:px-8 md:pt-4"
        >
          <Header />
          <main id="main" class="relative mt-32 flex-grow md:mt-[3.5rem]">
            <slot />
          </main>
          <Footer />
        </div>
      </div>
    </div>
  </body>
</html>
